@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1706086749040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang:before {
  content: "\e601";
}

.icon-alarm_chart:before {
  content: "\e602";
}

.icon-alarm_list:before {
  content: "\e603";
}

.icon-company_name:before {
  content: "\e604";
}

.icon-address:before {
  content: "\e605";
}

.icon-environment:before {
  content: "\e606";
}

.icon-humidity:before {
  content: "\e607";
}

.icon-bridging_schedule:before {
  content: "\e608";
}

.icon-length:before {
  content: "\e609";
}

.icon-schedule:before {
  content: "\e60a";
}

.icon-complete:before {
  content: "\e60b";
}

.icon-incomplete:before {
  content: "\e60c";
}

.icon-lot:before {
  content: "\e60d";
}

.icon-set:before {
  content: "\e60e";
}

.icon-temperature:before {
  content: "\e60f";
}

.icon-save:before {
  content: "\e610";
}

.icon-mix_station:before {
  content: "\e611";
}

.icon-wind_speed:before {
  content: "\e612";
}

.icon-template:before {
  content: "\e613";
}

.icon-security:before {
  content: "\e614";
}

.icon-steam:before {
  content: "\e615";
}

.icon-torpedo:before {
  content: "\e616";
}

.icon-beam:before {
  content: "\e617";
}

.icon-pedstal:before {
  content: "\e618";
}

.icon-plan:before {
  content: "\e619";
}

.icon-spreder:before {
  content: "\e61a";
}

.icon-monitor:before {
  content: "\e61b";
}

.icon-temperature2:before {
  content: "\e61c";
}

.icon-humidity2:before {
  content: "\e61d";
}

.icon-wind_speed2:before {
  content: "\e61e";
}

